body{
    background-image: linear-gradient(to top, #ea9c36c9 0%, #d4ff39d2 100%);
}
nav{
    background: #BBD2C5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b30042, #4e779e, #6e75c7);  
background: linear-gradient(to right, #0080b3, #4e779e, #083c49); 

}
table{
    border: 1px solid black;
}
td,th{
    border: 1px solid black;
    padding: 1em;
}